@font-face {
  font-family: 'Lato';
  src: url('../design/FONT/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-style: normal !important;
}
