@font-face {
  font-family: 'Genova';
  src: url('../design/FONT/genova/Genova.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-style: normal !important;
}
